/* CSS copied and slightly edited from the Galerie module. */

html,
body {
  height: 100%;
}

.simple_image_gallery-wrapper {
  height: 600px;
}

.simple_image_gallery-browser-wrapper {
  height: 100%;
  left: 0;
  overflow: auto;
  position: relative;
  width: 30%;
}

.simple_image_gallery-viewer-wrapper {
  height: 100%;
  left: 32%;
  position: relative;
  top: -100%;
}

.simple_image_gallery-browser {
  font-size: 0;
  line-height: 0;
  padding: 0 2px;
  text-align: right;
}

.simple_image_gallery-browser img {
  background: white;
  border: 4px solid black;
  height: 75px;
  margin: 2px;
  padding: 1px;
  width: 75px;
}

.simple_image_gallery-viewer .simple_image_gallery-image {
  margin: 0 0 2em 0;
  position: relative;
}

.simple_image_gallery-viewer img {
  background: black;
  max-width: 89%;
  padding: 2px;
}

.simple_image_gallery-image-wrapper {
  display: inline;
  position: relative;
}
